<html>

<head>
  <title>Wundermind</title>
  <link rel="stylesheet" type="text/css" href="stylesheet.css" />
  <script type="text/javascript" src="//use.typekit.net/vpv2hjy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <style type="text/css">
  .typekit-badge{display:none !important;}
  </style>
</head>
<body>
<div id="top">
  <div id="centerMe">
    <h1>WunderMind</h1>
  </div>
</div>
<div id="middle">
  <div id="centerMe">
    <div class="left_div">
      <img src="images/mind.png">
    </div>
    <div class="right_div">
      <h3>Word</h3>
      <textarea>example</textarea><br>
      <button>Go</button>
    </div>
  </div>
</div><br class="clear">
<div id="bottom">
  <div id="centerMe">
  
  <h2>So, what IS Wundermind?</h2>
  <p>Lorizzle check out this dolor sit amet, mah nizzle adipiscing elizzle. Nullizzle fo shizzle velizzle, aliquet volutpat, suscipit mofo, boom shackalack mammasay mammasa mamma oo sa, dizzle. Pellentesque fo shizzle mah nizzle fo rizzle, mah home g-dizzle tortor. Crackalackin erizzle. Hizzle izzle i'm in the shizzle dapibizzle turpis tempus ma nizzle. Shizzlin dizzle shiz boofron izzle turpizzle. Vestibulum izzle go to hizzle. Boom shackalack i saw beyonces tizzles and my pizzle went crizzle rhoncizzle nisi. In things habitasse platea dictumst. Gizzle dapibizzle. Crazy tellus urna, pretizzle eu, mattizzle ac, eleifend vitae, nunc. Fo shizzle suscipizzle. Integizzle semper velit sizzle purus.</p>
  </div>
</div>



</body>
</html>