<html>

<head>
  <title>Wundermind</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/stylesheet.css" />
  <script type="text/javascript" src="//use.typekit.net/vpv2hjy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <style type="text/css">
  .typekit-badge{display:none !important;}
  </style>
</head>
<body>
<div id="top">
  <div id="centerMe">
    <h1>WunderMind</h1><br class="clear">
  </div>
</div>
<div id="middle">
<div id="centerMe">
  <div class="selector"><br class="clear">
    <h1>PLAYERS SIGN UP HERE</h1><br class="clear">
    <h2>What position are you going to start as?</h2><br class="clear">
    <h3>This can be changed later</h3><br class="clear">
    <select>
      <option>Front End</option>
      <option>Back End</option>
      <option>Design</option>
      <option>SysAdmin</option>
      <option>Algo</option>
    </select>
    </div>
    <div class="selector right">
      <h1>START YOUR OWN CREW!</h1>
      <button>LETS GO!</button>
    </div>
  </div><br class="clear">
</div>
</div>
<div id="bottom">
  <div id="centerMe">
  
  <h2>So, what IS Wundermind?</h2>
  <p>Lorizzle check out this dolor sit amet, mah nizzle adipiscing elizzle. Nullizzle fo shizzle velizzle, aliquet volutpat, suscipit mofo, boom shackalack mammasay mammasa mamma oo sa, dizzle. Pellentesque fo shizzle mah nizzle fo rizzle, mah home g-dizzle tortor. Crackalackin erizzle. Hizzle izzle i'm in the shizzle dapibizzle turpis tempus ma nizzle. Shizzlin dizzle shiz boofron izzle turpizzle. Vestibulum izzle go to hizzle. Boom shackalack i saw beyonces tizzles and my pizzle went crizzle rhoncizzle nisi. In things habitasse platea dictumst. Gizzle dapibizzle. Crazy tellus urna, pretizzle eu, mattizzle ac, eleifend vitae, nunc. Fo shizzle suscipizzle. Integizzle semper velit sizzle purus.</p>
  </div>
</div>



</body>
</html>
